<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='../../Content/images/logo/favicon.ico' />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/js/vendor/modernizr-2.8.3.min.js")
</head>
<body>
   <div class="wrapper">

       <header id="header" class="top-header-area transparent-header headroom headroom--pinned">
           <div class="header-area">
               <div class="container hidden-xs">
                   <div class="row hidden-xs">
                       <!-- Start logo -->
                       <div class="col-md-2 col-sm-12">
                           <div class="logo">
                               <a href="/" title="Artli"><img src="../../Content/images/logo/1.png" alt="logo"></a>
                           </div>
                       </div>
                       <!-- End logo -->
                       <div class="col-md-8 col-sm-10">
                           <div class="main-menu-area">
                               <!-- Brand and toggle get grouped for better mobile display -->
                               <div class="navbar-header">
                                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                       <span class="sr-only">Toggle navigation</span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                       <span class="icon-bar"></span>
                                   </button>
                               </div>
                               <div class="collapse navbar-collapse text-center primary-menu">
                                   <ul class="nav navbar-nav main-menu clearfix">
                                       <li class="active smoot-menu drop">
                                           <a href="/">HOME</a>
                                       </li>
                                       <li class="smoot-menu"><a href="/about">ABOUT US</a></li>
                                       <li class="smoot-menu drop">
                                           <a href="/portfolio">PORTFOLIO</a>
                                       </li>
                                   
                                       <li class="smoot-menu"><a href="/contact">CONTACT</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                    
                   </div>
               </div>
               <!-- mobile-menu-area start -->
               <div class="mobile-menu-area hidden-md hidden-lg hidden-sm">
                   <div class="fluid-container">
                       <div class="mobile-menu clearfix">
                           <nav id="mobile_dropdown">
                               <ul>
                                   <li>
                                       <a href="/">HOME</a>
                                     
                                   </li>
                                   <li>
                                       <a href="/about">ABOUT US</a>
                                   </li>
                                   <li>
                                       <a href="/portfolio">PORTFOLIO</a>
                                   </li>
                                   <li>
                                       <a href="/contact">CONTACT</a>
                                   </li>
                               </ul>
                           </nav>
                       </div>
                   </div>
               </div>
               <!-- mobile-menu-area end -->
           </div>
       </header>
            @RenderBody()
            <footer id="footer" class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="copyright text-left xstext-center">
                                <p>
                                    @*&copy; <a href="#">Devitems</a> ALL Right Reserved*@
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="social-share text-right xstext-center">
                                <ul>
                                    <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    @*<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-dribble"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-rss"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        @*</div>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/js/vendor/jquery-1.12.1.min.js")
        @Scripts.Render("~/js/bootstrap.min.js")
        @Scripts.Render("~/js/plugins.js")
        @Scripts.Render("~/js/owl.carousel.min.js")
        @Scripts.Render("~/js/jquery.elevateZoom-3.0.8.min.js")
        @Scripts.Render("~/js/headroom.js")
        @Scripts.Render("~/js/jQuery.headroom.js")
        @Scripts.Render("~/js/waypoints.min.js")
        @Scripts.Render("~/js/waypoints.min.js")
        @Scripts.Render("~/js/main.js")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
